
   .notes-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .group-header {
    display: flex;
    align-items: center;
    background-color: #001F8B;
    height: 10vh; /* Used 10% of the viewport height */
    padding: 1.6rem;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .group-initials {
    width: 2.5rem; /* Converted 40px to rem */
    height: 2.5rem; /* Converted 40px to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white ;
    font-weight: bold;
    margin-right: 0.625rem; /* Converted 10px to rem */
  }
  
  .group-name {
    color: #ffffff ;
    font-size: 1.125rem;
    font-weight: bold;
    min-width:16rem;
  }
  .group-item.active {
    background-color: #2F2F2F2B; /* Change background color when selected */
    border-radius: 1.2rem;
  }
/* Ensure group-name color is explicitly set to white */
.group-header .group-name {
  color: white !important; /* This will enforce the white color */
}

  .notes-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem;
    margin-bottom: 28vh; /* Added enough space for the input area */
  }
  
  .note-item {
    background-color: #fff;
    padding: 2rem 2rem 1rem 2rem; /* Converted 10px to rem */
    border-radius: 0.3125rem; /* Converted 5px to rem */
    margin-bottom: 1.4rem;
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.035em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .note-item::first-letter{
    text-transform: capitalize;
  }
  
  .note-item p {
    margin: 0;
  }
  
  .note-item small {
    display: block;
    font-size: 0.75rem; /* Converted 12px to rem */
    padding-top: 0.5rem;
    color: #353535;
    text-align: right;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .input-area {
    display: flex;
    align-items: center;
    background-color: #001F8B;
    padding: 2rem; /* Converted 10px to rem */
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 30vh; /* Adjusted for responsive height */
    
  }

  
  .textarea-wrapper {
    position: relative;
    width: 73.5%;
    height:100%;
  }
  
  textarea {
    width: 100%;
    height:100%;
    padding: 1rem; /* Converted 10px to rem */
    font-size: 1rem; /* Converted 16px to rem */
 /* Converted 1px to rem */
    border-radius: 0.5rem; /* Converted 8px to rem */
    resize: none;
    box-sizing: border-box;
    /* padding-right: 2.5rem;  */
    color: #9A9A9A;
    border: 0.25rem solid #CCCCCC;
    outline:none;

font-size: 1.5rem;
font-weight: 400;
line-height: 2rem;
letter-spacing: 0.02em;
text-align: left;
/* text-underline-position: from-font;
  }


  
  .send-button {
    position: absolute;
    right: 1rem; /* Converted 15px to rem */
    bottom: 1rem; /* Converted 15px to rem */
    background-color: transparent;
    border: none;
    color: #ABABAB;
    border-radius: 50%;
    padding: 0.625rem; /* Converted 10px to rem */
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: rotate(50deg);
    display: flex;
    align-items: center;
    justify-content: center;
     font-size: 2rem; 
  }
  
  .send-button:disabled {
    color: #ABABAB;
    background-color: transparent;
  }
  
  .send-button:enabled {
    color: #001F8B;
    background-color: transparent;
    cursor: pointer;
  }
  


.notes-list::-webkit-scrollbar {
  width: 0.7rem;
}

.notes-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.63); 
  border-radius: 0.4rem; 
  margin-bottom: 3.4rem;
}

.notes-list::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 0.4rem;
  width: 0.1rem; 
 


}

.notes-list::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
  

}


