
  
 */
 .group-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  flex-grow: 1;
  overflow-y: auto; /* Keep scroll functionality */
  /* scrollbar-width: none; 
  -ms-overflow-style: none;  */
}

.group-item {
  height: 6rem;
  width: 18rem;
  cursor: pointer;
  display: flex;
  align-items: top;
  margin-top:0.1rem;
  
  background-color: #ffffff;
  /* margin-bottom: 1rem; */
  /* padding: 0.3rem; */
}

.color-circle {
  width: 2.2rem; /* Increased size */
  height: 2.2rem; /* Increased size */
  border-radius: 50%;
  background-color: #000; /* Add background color if necessary */
}

.group-initials {
  z-index: 1; 
  position: relative;
  border-radius: 50%;
  width: 3rem; /* Increased circle size */
  height: 3rem; /* Increased circle size */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; /* Increased font size */
  font-weight: bold;
  color: #ffffff;
  margin-right: 1.5rem; /* Adds space between circle and text */
}

.group-name {
  font-size: 1.3rem;
  color: #000000;
  font-weight: 500;
  line-height: 1.9rem;
  top:0.5rem;
  position: relative;
  letter-spacing: 0.02em;
  text-align: left;
  /* white-space: nowrap; */
  overflow: hidden; /* Ensures overflow content is hidden */
  /* text-overflow: ellipsis; Adds ellipsis for long text */
  max-width: 11rem; /* Set max width to avoid overlap */
}
